#fondo-header{
    background-image: url('img/fondoHeader.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#trucks{
    background-image: linear-gradient(-18deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 51%);
}

#paypalButton{
    background-color:#3480af ;
}

#creditMoney{
    background-color: #f2f2f2 ;
}

article{
    max-height: 551px;
}

article img{
    max-height: 226px;
}

.patrocinador img{
    max-height: 300px;
}

